n8n/FitFlow MVP v2.json
{
  "name": "FitFlow MVP v2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6048,
        4048
      ],
      "id": "86c38303-323c-4b38-8999-581898d39775",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet content = '';\ntry {\n  content = response.choices[0].message.content;\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error: 'Не удалось получить ответ от модели',\n      raw: response\n    }\n  }];\n}\n\n// Убираем markdown обёртку если есть\nlet cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Убираем <think>...</think> блоки если модель thinking\ncleaned = cleaned.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Если не JSON — вернуть как текст\n  return [{\n    json: {\n      success: true,\n      raw_answer: content,\n      parsed: false\n    }\n  }];\n}\n\n// Если массив — считаем итого\nif (Array.isArray(parsed)) {\n  const total = {\n    calories: 0,\n    protein: 0,\n    carbs: 0,\n    fats: 0\n  };\n  parsed.forEach(item => {\n    total.calories += item.calories || 0;\n    total.protein  += item.protein  || 0;\n    total.carbs    += item.carbs    || 0;\n    total.fats     += item.fats     || 0;\n  });\n\n  return [{\n    json: {\n      success: true,\n      parsed: true,\n      dishes: parsed,\n      total: total\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    parsed: true,\n    dishes: [parsed],\n    total: {\n      calories: parsed.calories || 0,\n      protein:  parsed.protein  || 0,\n      carbs:    parsed.carbs    || 0,\n      fats:     parsed.fats     || 0\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        4048
      ],
      "id": "72f48a9f-8ec3-4f00-8d6e-34d934e3cfce",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\"Content-Type\": \"application/json\"}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemma-3-12b-it:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Ты нутрициолог. Определи блюдо на фото и посчитай КБЖУ на всю порцию. Ответь строго в JSON: {\\\"dish\\\": \\\"название\\\", \\\"calories\\\": число, \\\"protein\\\": число, \\\"carbs\\\": число, \\\"fats\\\": число}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.base64Image }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 512\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5632,
        4048
      ],
      "id": "8cfa226c-b941-4d98-aabd-84e6c1208a20",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "vwbQxpLjAJGbO7k3",
          "name": "Bearer Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0];\nconst binaryKey = Object.keys(item.binary)[0];\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\n// Ограничиваем размер — если больше 500KB, урезаем качество\nconst base64 = buffer.toString('base64');\nconst mimeType = item.binary[binaryKey].mimeType || 'image/jpeg';\n\n// Проверка размера\nif (base64.length > 500000) {\n  // Слишком большое фото — попробуем сжать\n  return [{\n    json: {\n      error: true,\n      message: `Фото слишком большое: ${Math.round(base64.length / 1024)}KB. Используйте фото до 500KB.`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    base64Image: `data:${mimeType};base64,${base64}`,\n    mimeType: mimeType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        4048
      ],
      "id": "46ef9a1a-5fab-4d64-ab80-f10ddfc2f6b6",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "photo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        4048
      ],
      "id": "8950f71d-9136-47af-b9e1-2293d5a0b8c3",
      "name": "WebhookPhoto",
      "webhookId": "da0d7fca-a6e1-4f02-b475-c7028d57c228"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a3991cdc-6c68-4d06-b471-97614366fca9",
      "name": "RespondProfilePost",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6032,
        3808
      ]
    },
    {
      "parameters": {
        "jsCode": "const u = $json;\n\nconst parseJsonSafe = (val) => {\n  if (!val) return [];\n  if (Array.isArray(val)) return val;\n  try { return JSON.parse(val); } catch { return []; }\n};\n\nreturn {\n  json: {\n    success:          true,\n    email:            u.email,\n    firstName:        u.name?.split(' ')[0] || '',\n    lastName:         u.name?.split(' ')[1] || '',\n    heightCm:         parseFloat(u.height)  || null,\n    weightKg:         parseFloat(u.weight)  || null,\n    goalText:         u.goal || '',\n    injuries:         parseJsonSafe(u.injuries),\n    equipmentEnabled: parseJsonSafe(u.equipment),\n    preset:           'custom',\n    customPresets:    [],\n    aiContext:        {}\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        3808
      ],
      "id": "099bd11d-3efc-48bc-a183-8ef2d1e8894a",
      "name": "FormatUpdatedProfile"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET\n  height     = {{ $json.height }},\n  weight     = {{ $json.weight }},\n  goal       = '{{ $json.goalText }}',\n  injuries   = '{{ $json.injuries }}'::jsonb,\n  equipment  = '{{ $json.equipment }}'::jsonb\nWHERE email = '{{ $json.email }}'\nRETURNING \n  email, name, goal,\n  height, weight,\n  injuries, equipment\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5632,
        3808
      ],
      "id": "c9e53bfd-b8c7-4c9a-8c88-54dfd538518b",
      "name": "UpdateUserInDB",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst parseJsonSafe = (val) => {\n  if (!val) return [];\n  if (Array.isArray(val)) return val;\n  try { return JSON.parse(val); } catch { return []; }\n};\n\nreturn {\n  json: {\n    email:     body.email,\n    height:    parseFloat(body.heightCm) || null,\n    weight:    parseFloat(body.weightKg) || null,\n    goalText:  body.goalText || '',\n    injuries:  JSON.stringify(parseJsonSafe(body.injuries)),\n    equipment: JSON.stringify(parseJsonSafe(body.equipment)),\n    preset:    body.preset || 'custom'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        3808
      ],
      "id": "e480ca93-620a-4f88-b38f-535f3e17166a",
      "name": "ParseBody"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "profilepost",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        3808
      ],
      "id": "8678ae28-8de7-495c-9f2e-c2ac53e3f5b0",
      "name": "WebhookProfilePost",
      "webhookId": "f4490e78-0442-44b7-a621-1da7c5df8612"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "847c59fc-733e-4207-9c87-a5773e3816a8",
      "name": "RespondProfileGet",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6032,
        3584
      ]
    },
    {
      "parameters": {
        "jsCode": "const u = $json;\n\n// equipment может прийти как массив или как строка\nconst parseJsonSafe = (val) => {\n  if (!val) return [];\n  if (Array.isArray(val)) return val;  // уже массив — не парсим\n  try { return JSON.parse(val); } catch { return []; }\n};\n\nreturn {\n  json: {\n    email:            u.email,\n    firstName:        u.name?.split(' ')[0] || '',\n    lastName:         u.name?.split(' ')[1] || '',\n    heightCm:         parseFloat(u.height)  || null,   // ← height\n    weightKg:         parseFloat(u.weight)  || null,   // ← weight\n    goalText:         u.goal || '',\n    injuries:         parseJsonSafe(u.injuries),\n    equipmentEnabled: parseJsonSafe(u.equipment),\n    preset:           'custom',\n    customPresets:    [],\n    aiContext:        {}\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        3584
      ],
      "id": "37ff419e-5c4b-4fb9-88f9-f041d8e03e5d",
      "name": "FormatProfile"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, email, name, goal, \n  height,\n  weight,\n  injuries, equipment,\n  experience, body_type,\n  training_location\nFROM users \nWHERE email = '{{ $json.email }}'\nLIMIT 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5632,
        3584
      ],
      "id": "c2097128-5832-44ab-98dd-587d70c027f7",
      "name": "GetUserFromDB ",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn { json: { email: body.email } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        3584
      ],
      "id": "98d35f88-e421-45e4-b587-5eb72d7ce665",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        3584
      ],
      "id": "813a0701-686e-4a32-b60e-107497a67249",
      "name": "WebhookProfileGet",
      "webhookId": "f4490e78-0442-44b7-a621-1da7c5df8612"
    },
    {
      "parameters": {
        "outputField": "toonProfile",
        "additionalOptions": {}
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        6016,
        3280
      ],
      "id": "3097f9c6-14f9-4578-b5f4-e1a2e5554a64",
      "name": "TOON2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "narution",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        1968
      ],
      "id": "7518704c-a8ba-43aa-97a9-c9b2afa99339",
      "name": "WebhookNarution",
      "webhookId": "e9d65c9d-1167-4025-895a-128a0edd82eb"
    },
    {
      "parameters": {
        "functionCode": "// Собираем данные со ВСЕХ входящих узлов\nconst allData = $input.all();\n\n// Извлекаем данные\nconst chatData = allData.find(i => i.json.message !== undefined)?.json || {};\nconst userId = chatData.user_id || 1;\nconst userMessage = chatData.message || '';\n\n// История чата\nconst historyData = allData.find(i => Array.isArray(i.json))?.json || [];\nconst historyMessages = historyData.slice(-8).map(m => ({\n  role: m.role,\n  content: m.message\n}));\n\n// Контекст пользователя\nconst userContext = allData.find(i => i.json.name !== undefined)?.json || {};\n\n// Строим системный промпт с требованием YAML\nconst systemPrompt = `Ты FitFlow AI Coach — персональный фитнес и health ассистент.\n\nПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ:\n- Имя: ${userContext.name || 'неизвестно'}\n- Цель: ${userContext.goal || 'неизвестно'}\n- Уровень: ${userContext.experience || 'новичок'}\n- Оборудование: ${JSON.stringify(userContext.equipment || [])}\n- Травмы: ${JSON.stringify(userContext.injuries || [])}\n\nВАЖНЫЕ ПРАВИЛА:\n1. Говори на русском, мотивируй, давай практичные советы.\n2. Твой ответ должен быть СТРОГО в формате YAML, без блоков Markdown (без \\`\\`\\`yaml) и без лишнего текста.\n3. Используй следующий шаблон ответа:\n\nresponse_text: \"Твой текстовый ответ пользователю, советы и мотивация\"\nsuggested_action: \"none\" # Если нужно предложить действие, напиши тут 'update_workout', 'log_food' или оставь 'none'\nmood: \"motivating\" # Настроение ответа (например: motivating, strict, supportive)\n`;\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...historyMessages,\n  { role: 'user', content: userMessage }\n];\n\nreturn [{\n  json: {\n    userId: userId,\n    userMessage: userMessage,\n    groqRequest: {\n      model: 'openrouter/free',\n      messages: messages,\n      temperature: 0.7, // Снизил до 0.7 для большей стабильности YAML-структуры\n      max_tokens: 1500\n    }\n  }\n}];\n"
      },
      "id": "8b3f1bbc-1629-4b65-8df5-2f51fcb87c3a",
      "name": "PrepareGroqChat",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6912,
        2160
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nreturn {\n  json: {\n    user_id: body.user_id || 1, // fallback для теста\n    message: body.message || ''\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        2176
      ],
      "id": "35cbd454-8820-4a8c-a4ae-73a6fc0229b3",
      "name": "ExtractChatData"
    },
    {
      "parameters": {
        "outputField": "toonProfile",
        "additionalOptions": {}
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        5792,
        1968
      ],
      "id": "bc20a0fb-3eb7-41c3-983e-50df34d514c6",
      "name": "TOON1"
    },
    {
      "parameters": {
        "outputField": "toonProfile",
        "additionalOptions": {}
      },
      "type": "@tehw0lf/n8n-nodes-toon.toon",
      "typeVersion": 1,
      "position": [
        5776,
        1776
      ],
      "id": "e5fba141-6a0d-4a03-9a30-35bbe267d236",
      "name": "TOON"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "db031a60-0b74-48a3-9210-5a52799e2b24",
      "name": "RespondMainData",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6704,
        1776
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adapt",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5200,
        3280
      ],
      "id": "ee364c3e-696e-4bdd-83c0-484e2fd70f56",
      "name": "WebhookAdapt",
      "webhookId": "01938af2-fc76-4b66-b514-7732358ee61a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "activty",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        3088
      ],
      "id": "4fd3dce7-a8a4-4d41-add9-aeb92e78eb8e",
      "name": "WebhookActivity",
      "webhookId": "11c397bd-960e-4978-a0e3-a4e6db1b2d58"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "water",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5232,
        2880
      ],
      "id": "7c701c27-65f3-4c1a-86ed-b270e7e74614",
      "name": "WebhookWater",
      "webhookId": "f3e56865-9a74-49e8-bf54-d9680a84c4a9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sleep",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5232,
        2720
      ],
      "id": "b98d8ade-9f97-420d-89be-da3f49dcaf9c",
      "name": "WebhookSleep",
      "webhookId": "171c12d0-e040-4cff-a340-2275c410b3c5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        2368
      ],
      "id": "b8447fd6-ab4b-4713-b2b0-a7fd886e1f15",
      "name": "WebhookStat",
      "webhookId": "e1e11ae2-625a-474c-a9a6-3baa02171023"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        2176
      ],
      "id": "b10f856e-84f4-4e6d-8518-1a4bdf9c1f8e",
      "name": "WebhookChat",
      "webhookId": "02ba5983-0bda-452d-9f2f-2f16f90ce866"
    },
    {
      "parameters": {
        "content": "чурка, у меня в main экране есть вебхук это запрос на ветку для главного жкр"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8672,
        2208
      ],
      "typeVersion": 1,
      "id": "774c5eb7-366d-41b1-9801-5535b13abaf0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "main",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5216,
        1776
      ],
      "id": "b396cba5-6002-4f89-8506-d4a87a81048d",
      "name": "WebhookMainRequest",
      "webhookId": "7814c87a-5314-4820-868e-a74691896df4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE workouts\nSET \n  exercises = '{{ JSON.stringify($json.adapted_workout) }}'::jsonb,\n  status = 'adapted',\n  updated_at = CURRENT_TIMESTAMP\nWHERE id = {{ $('GetCurrentWorkoutForAdapt').first().json.id }}\n  AND user_id = {{ $json.user_id || 1 }}\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7168,
        3280
      ],
      "id": "a34eadde-49a2-4be0-8002-b9088ddd8eb7",
      "name": "UpdateWorkoutAdapted",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const adaptData = $json;\nconst workoutId = $('GetCurrentWorkoutForAdapt').first().json.id;\nconst userId = $('ExtractAdaptData').first().json.user_id;\n\nreturn {\n  json: {\n    workout_id: workoutId,\n    user_id: userId,\n    adapted_workout: adaptData.adapted_workout,\n    changes_made: adaptData.changes_made,\n    ai_message: adaptData.ai_message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6928,
        3280
      ],
      "id": "68a9dfb6-ea54-4136-9cd5-a92d2f438a71",
      "name": "PrepareUpdateData"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nreturn {\n  json: {\n    user_id: body.user_id || 1,\n    circumstances: body.circumstances || [],\n    custom_text: body.custom_text || '',\n    date: body.date || new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        3280
      ],
      "id": "095edab8-dbee-4f3c-b1b0-b8914f1ffb34",
      "name": "ExtractAdaptData"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM workouts\nWHERE user_id = {{ $json.user_id || 1 }}\n  AND status IN ('pending', 'adapted') -- Разрешаем брать и уже адаптированные\nORDER BY created_at DESC\nLIMIT 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5808,
        3280
      ],
      "id": "ff9ca66b-e80f-4336-8846-562bcc3826c9",
      "name": "GetCurrentWorkoutForAdapt",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const activity = $json;\nconst preparedData = $('PrepareActivityData').first().json;\n\nreturn {\n  json: {\n    success: true,\n    message: \"Activity logged\",\n    activity_id: activity.id,\n    steps: parseInt(preparedData.steps) || 0,\n    active_minutes: parseInt(preparedData.active_minutes) || 0,\n    calories: activity.calories || 0,\n    lifestyle_state: preparedData.lifestyle_state,\n    date: activity.created_at\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6144,
        3088
      ],
      "id": "8777f960-c746-4020-9058-dfdca501fb4a",
      "name": "FormatActivityResponse"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO activities (\n  user_id,\n  exercise_name,\n  duration_seconds,\n  calories,\n  notes\n) VALUES (\n  {{ $json.user_id || 1 }},\n  'Daily Activity',\n  {{ $json.active_minutes * 60 }},\n  {{ $json.active_calories }},\n  'Steps: {{ $json.steps }}, Lifestyle: {{ $json.lifestyle_state }}'\n)\nRETURNING *\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5728,
        3088
      ],
      "id": "34f88fb2-d5ee-4916-88aa-cc8a3a6c84ab",
      "name": "InsertActivity",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COALESCE(SUM(amount_ml), 0) as total_ml,\n  COALESCE(SUM(amount_ml)/1000.0, 0) as total_liters,\n  COUNT(*) as logs_count\nFROM water_logs\nWHERE user_id = {{ $json.user_id }}\n  AND log_date = CURRENT_DATE",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6144,
        2880
      ],
      "id": "1e43804e-7ebb-4d40-961e-1098290bf1d3",
      "name": "GetTotalWaterToday",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    user_id: $json.user_id,\n    date: $json.log_date\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5936,
        2880
      ],
      "id": "be9461a7-5f22-478c-99b4-aa29b8016c48",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO water_logs (\n  user_id,\n  amount_ml,\n  log_date\n) VALUES (\n  {{ $json.user_id || 1 }},\n  {{ $json.amount_ml }},\n  '{{ $json.date }}'\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5728,
        2880
      ],
      "id": "63c640b1-91d3-437b-a41a-2a61fa984b45",
      "name": "InsertWater",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sleep_logs (\n  user_id, \n  hours, \n  quality, \n  log_date,\n  notes\n) VALUES (\n  {{ $json.user_id || 1 }},\n  {{ $json.actual_hours }},\n  '{{ $json.state }}',\n  '{{ $json.date }}',\n  'Quality score: {{ $json.quality_score }}, CNS recovery: {{ $json.cns_recovery_score }}'\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5664,
        2720
      ],
      "id": "333506ae-3da8-466d-98e4-c485e495d6d2",
      "name": "InsertSleep1",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  '{{ $json.period }}' as period,\n  '{{ $json.date }}' as req_date,\n  COALESCE(SUM(n.calories), 0) as total_calories,\n  COALESCE(AVG(n.calories), 0) as avg_calories_per_meal,\n  COUNT(n.id) as total_meals,\n  COALESCE(SUM(w.amount_ml), 0) as total_water_ml,\n  COALESCE(AVG(w.amount_ml), 0) as avg_water_ml,\n  COUNT(w.id) as total_water_logs\nFROM \n  (SELECT id as uid FROM users WHERE email = '{{ $json.email }}') u\nLEFT JOIN nutrition_logs n ON n.user_id = u.uid \n  AND (\n    ('{{ $json.period }}' = 'day' AND n.log_date::date = '{{ $json.date }}'::date)\n    OR\n    ('{{ $json.period }}' != 'day' AND n.log_date::date >= (CURRENT_DATE - INTERVAL '1 month'))\n  )\nLEFT JOIN water_logs w ON w.user_id = u.uid \n  AND (\n    ('{{ $json.period }}' = 'day' AND w.log_date::date = '{{ $json.date }}'::date)\n    OR\n    ('{{ $json.period }}' != 'day' AND w.log_date::date >= (CURRENT_DATE - INTERVAL '1 month'))\n  )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5920,
        2528
      ],
      "id": "7bedb9e9-a279-4984-a9f9-662fe73934f8",
      "name": "GetNutritionAndWater ",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  '{{ $json.period }}' as period,\n  '{{ $json.date }}' as req_date,\n  COUNT(*) as total_logs,\n  COALESCE(AVG(hours), 0) as avg_hours,\n  COALESCE(SUM(hours), 0) as total_hours\nFROM sleep_logs\nWHERE user_id = (SELECT id FROM users WHERE email = '{{ $json.email }}')\n  AND (\n    ('{{ $json.period }}' = 'day' AND log_date::date = '{{ $json.date }}'::date)\n    OR\n    ('{{ $json.period }}' != 'day' AND log_date::date >= (CURRENT_DATE - INTERVAL '1 month'))\n  )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5968,
        2288
      ],
      "id": "17d1d8e1-f7be-42f9-8424-62394b407f57",
      "name": "GetSleepStats",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  '{{ $json.period }}' as period,\n  '{{ $json.date }}' as req_date,\n  COUNT(*) as total_workouts,\n  COUNT(CASE WHEN status = 'completed' THEN 1 END) as completed_workouts,\n  COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending_workouts,\n  COALESCE(AVG(duration_minutes), 0) as avg_duration,\n  COALESCE(SUM(duration_minutes), 0) as total_minutes\nFROM workouts\nWHERE user_id = (SELECT id FROM users WHERE email = '{{ $json.email }}')\n  AND (\n    ('{{ $json.period }}' = 'day' AND created_at::date = '{{ $json.date }}'::date)\n    OR\n    ('{{ $json.period }}' != 'day' AND created_at::date >= (CURRENT_DATE - INTERVAL '1 month'))\n  )\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5840,
        2368
      ],
      "id": "0bca6400-24d0-436d-b82e-35816b67a1e2",
      "name": "CountWorkouts",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    response: $json.message,\n    chat_id: $json.id,\n    created_at: $json.created_at\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7872,
        2160
      ],
      "id": "8631b816-9ad5-4989-bd00-a0f680cf95b9",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_history (user_id, role, message) \nVALUES (\n  {{ $json.userId }}, \n  'assistant', \n  '{{ $json.aiResponse }}'\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7728,
        2160
      ],
      "id": "c2711e8b-e67a-4422-bb19-d87ddd31f767",
      "name": "InsertAIMessage",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  name, \n  goal, \n  experience, \n  injuries, \n  equipment \nFROM users \nWHERE id = {{ $json.user_id }} \nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6464,
        2096
      ],
      "id": "2c6a4744-5b1f-4609-bdca-aa7a13fabeb0",
      "name": "GetUserContext",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_history (user_id, role, message) \nVALUES (\n  {{ $json.user_id }}, \n  'user', \n  '{{ $json.message }}'\n)\nRETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6256,
        2256
      ],
      "id": "d063870d-0f09-4c5e-a139-96d9349af658",
      "name": "InsertUserMessage",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, message, created_at \nFROM chat_history \nWHERE user_id = {{ $json.user_id }} \nORDER BY created_at DESC \nLIMIT 20",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6128,
        2176
      ],
      "id": "86398199-35c3-4c57-96f9-a0d9b910d291",
      "name": "GetChatHistory",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nreturn {\n  json: {\n    email:     body.email || 'test@fitflow.local',\n    food_text: body.message || body.food_text || \"не указано\"\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        1968
      ],
      "id": "5d59cad9-271d-4cc8-9aff-b5e24e3c230a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE email = '{{ $json.email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5584,
        1968
      ],
      "id": "df78a5e2-cc04-4a72-bf6a-c315ee2e94f2",
      "name": "GetUserProfile",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO nutrition_logs (\n  meal_name,\n  calories,\n  protein,\n  fats,\n  carbs,\n  log_date\n) VALUES (\n  '{{ $json.meal_name }}',\n  {{ $json.calories }},\n  {{ $json.protein_g || 0 }},\n  {{ $json.fat_g || 0 }},\n  {{ $json.carbs_g || 0 }},\n  '{{ $json.log_date }}'\n)\nRETURNING *\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6656,
        1968
      ],
      "id": "82587e67-e4c7-4ce3-81b2-1e3423aee0f0",
      "name": "InsertWorkout ",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toonData = $json.toonProfile;\nconst user     = $json; // здесь уже есть все поля из БД\n\n// Парсим equipment и injuries (могут прийти как массив или строка)\nconst parseField = (val) => {\n  if (!val) return [];\n  if (Array.isArray(val)) return val;\n  try { return JSON.parse(val); } catch { return []; }\n};\n\nconst equipment = parseField(user.equipment);\nconst injuries  = parseField(user.injuries);\n\nconst groqRequest = {\n  model: \"openrouter/free\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"Ты профессиональный AI-тренер FitFlow. Твоя задача — составить подробную и реальную тренировку на основе профиля пользователя. Отвечай СТРОГО в формате YAML без блоков Markdown.\"\n    },\n    {\n      role: \"user\",\n      content: `Создай персонализированную тренировку для пользователя:\n\nПРОФИЛЬ:\n${toonData}\n\nДОПОЛНИТЕЛЬНЫЕ ДАННЫЕ:\n- Рост: ${user.height || 'не указан'} см\n- Вес: ${user.weight || 'не указан'} кг\n- Доступное оборудование: ${equipment.length > 0 ? equipment.join(', ') : 'только собственный вес'}\n- Травмы и ограничения: ${injuries.length > 0 ? injuries.join(', ') : 'нет'}\n\nВАЖНО:\n- Учитывай травмы и НИКОГДА не давай упражнения на травмированные зоны.\n- Используй ТОЛЬКО доступное оборудование из списка выше.\n- Сгенерируй полноценную тренировку (минимум 4-6 упражнений).\n- Поле 'display_string': \"Название - [reps] раз x [sets] подхода\".\n\nОБЯЗАТЕЛЬНО верни YAML по структуре:\n\nworkout_name: \"Название тренировки\"\nmuscle_groups: \n  - \"Группа мышц\"\ndifficulty: \"medium\"\nestimated_duration_min: 45\nestimated_calories: 350\nexercises:\n  - name: \"Упражнение\"\n    display_string: \"Упражнение - 12 раз x 3 подхода\"\n    sets: 3\n    reps: \"12\"\n    rest_sec: 60\n    weight_recommendation: \"собственный вес\"\n    notes: \"Подсказка по технике.\"\nai_message: \"Мотивирующее сообщение.\"`\n    }\n  ],\n  temperature: 0.7,\n  max_tokens: 2500\n};\n\nreturn { json: groqRequest };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        1776
      ],
      "id": "7d966c40-ffec-4084-8948-bbe97e328d09",
      "name": "PrepareGroqRequest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6304,
        1776
      ],
      "id": "6875771d-e3fd-41c6-b50c-c27a366510ff",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "vwbQxpLjAJGbO7k3",
          "name": "Bearer Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE email = '{{ $json.email }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5584,
        1776
      ],
      "id": "dcc20818-0974-4aa3-aad4-afdd7c02e3b8",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берем данные из предыдущих узлов\nconst userData = $('PrepareUserData').first().json;\nreturn { json: userData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        1168
      ],
      "id": "aa2685e4-9cc2-4037-a702-b7028fcb92d7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (\n  email, name, password, goal, body_type, experience, equipment, \n  training_location, sleep_target_hours, water_target_liters,\n  diet_restrictions, injuries, priority_zones\n) VALUES (\n  '{{ $json.email }}', '{{ $json.name }}', '{{ $json.password }}', \n  '{{ $json.goal }}', '{{ $json.body_type }}', '{{ $json.experience }}', \n  '{{ JSON.stringify($json.equipment) }}'::jsonb, '{{ $json.training_location }}', \n  {{ $json.sleep_target_hours }}, {{ $json.water_target_liters }},\n  '{{ JSON.stringify($json.diet_restrictions || []) }}'::jsonb,\n  '{{ JSON.stringify($json.injuries || []) }}'::jsonb,\n  '{{ JSON.stringify($json.priority_zones || []) }}'::jsonb\n)\nON CONFLICT (email) DO NOTHING\nRETURNING *",
        "options": {
          "queryReplacement": "=={{  [    $json.email,    $json.name,    $json.password,    $json.goal,    $json.body_type,    $json.experience,    JSON.stringify($json.equipment),    $json.training_location,    $json.sleep_target_hours,    $json.water_target_liters,    JSON.stringify($json.diet_restrictions),    JSON.stringify($json.injuries),    JSON.stringify($json.priority_zones)  ]}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4464,
        1168
      ],
      "id": "ab0094dd-da27-41f7-a722-d81b92b0fda4",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "yLY0gVoWzHr1j0xb",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=",
        "options": {}
      },
      "id": "bcce81b0-d98a-42b6-86d9-bec1841205a2",
      "name": "RespondAdapt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7456,
        3280
      ]
    },
    {
      "parameters": {
        "functionCode": "const responseText = $json.choices[0].message.content;\nlet adaptedWorkout;\ntry {\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  adaptedWorkout = jsonMatch ? JSON.parse(jsonMatch[0]) : {raw: responseText};\n} catch(e) {\n  adaptedWorkout = {raw: responseText};\n}\n\nconst prepCtx = $node['PrepareGroqAdapt'].json;\n\nreturn [{\n  json: {\n    userId: prepCtx.userId,\n    date: prepCtx.date,\n    adapted_workout: adaptedWorkout,\n    circumstances: prepCtx.circumstances\n  }\n}];"
      },
      "id": "d56ccd3f-c85c-4c18-875c-3eab6beda062",
      "name": "ExtractAdaptWorkout",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6688,
        3280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "0a038d92-246f-4325-a9a1-b15a0de5f30d",
      "name": "CallGroqAdapt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6448,
        3280
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "vwbQxpLjAJGbO7k3",
          "name": "Bearer Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const workout = $json; // текущая тренировка с полем toonProfile\nconst adaptData = $('ExtractAdaptData').first().json; // Данные из вебхука\n\nconst circumstances = (adaptData.circumstances || []).join(', ') || 'нет';\nconst customText = adaptData.custom_text || '';\nconst toonWorkout = workout.toonProfile;\n\n// Формируем ИДЕАЛЬНО чистый запрос для OpenRouter с требованием YAML\nconst groqRequest = {\n  model: \"openrouter/free\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"Ты AI-тренер FitFlow. Твоя задача — адаптировать тренировку под текущее состояние пользователя. Отвечай СТРОГО в формате YAML без блоков Markdown (без ```yaml). Никакого лишнего текста до или после.\"\n    },\n    {\n      role: \"user\",\n      content: `ТЕКУЩАЯ ТРЕНИРОВКА:\n${toonWorkout}\n\nСОСТОЯНИЕ ПОЛЬЗОВАТЕЛЯ:\n- Обстоятельства: ${circumstances}\n- Комментарий: ${customText}\n\nАдаптируй тренировку:\n1. ОБЯЗАТЕЛЬНО сохрани те же целевые группы мышц.\n2. Если плохо спал → снизь веса на 20-30%.\n3. Если болит → убери/замени упражнения на эту зону.\n4. Если устал → сократи количество подходов.\n\nОБЯЗАТЕЛЬНО верни ответ в формате YAML по этой структуре (ЭТО ТОЛЬКО ШАБЛОН, заполни его реальными измененными данными):\n\nchanges_made: \"Снизил веса на 20% из-за плохого сна и заменил жим лежа на разводку гантелей из-за боли в плече.\"\nai_message: \"Я скорректировал твою тренировку, чтобы не перегружать нервную систему. Сфокусируйся на технике!\"\nadapted_workout:\n  - name: \"Отжимания\"\n    display_string: \"Отжимания - 10 раз x 2 подхода\"\n    sets: 2\n    reps: \"10\"\n    rest_sec: 90\n    weight_recommendation: \"собственный вес\"\n    notes: \"Делай плавно, не торопись.\"\n  - name: \"Скручивания\"\n    display_string: \"Скручивания - 15 раз x 3 подхода\"\n    sets: 3\n    reps: \"15\"\n    rest_sec: 60\n    weight_recommendation: \"собственный вес\"\n    notes: \"Следи за поясницей.\"`\n    }\n  ],\n  temperature: 0.6, // Снижаем температуру для более точного следования инструкциям\n  max_tokens: 1500\n};\n\nreturn { json: groqRequest };\n"
      },
      "id": "cfdc6cc4-ec02-4d3b-8833-15aef3b54cc8",
      "name": "PrepareGroqAdapt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6240,
        3280
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nreturn [{\n  json: {\n    userId: body.userId,\n    circumstances: body.circumstances || [],\n    custom_text: body.custom_text || '',\n    date: body.date || new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "5fd523a9-3010-469a-a75b-ca72f333e3f9",
      "name": "PrepareAdaptContext",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5424,
        3280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=",
        "options": {}
      },
      "id": "138eb12d-bac3-4694-88b2-22060a5a835e",
      "name": "RespondActivity",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6432,
        3088
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nconst steps = parseInt(body.steps) || 0;\nconst activeCalories = parseInt(body.active_calories) || Math.round(steps * 0.04);\nconst activeMinutes = parseInt(body.active_minutes) || 0;\n\nlet lifestyleState = 'sedentary';\nif (steps >= 10000 || activeMinutes >= 60) lifestyleState = 'active';\nelse if (steps >= 5000 || activeMinutes >= 30) lifestyleState = 'moderate';\n\nreturn [{\n  json: {\n    userId: body.userId,\n    date: body.date || new Date().toISOString().split('T')[0],\n    steps: steps,\n    active_calories: activeCalories,\n    active_minutes: activeMinutes,\n    lifestyle_state: lifestyleState,\n    heart_rate_avg: body.heart_rate_avg,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "0d4d0f9d-a453-4553-b0b4-e093fb437848",
      "name": "PrepareActivityData",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5408,
        3088
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "63a15835-c978-4251-b8fb-b9dc398dee42",
      "name": "RespondWaterWebhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6848,
        2880
      ]
    },
    {
      "parameters": {
        "functionCode": "const addedMl = parseFloat($node['PrepareWaterData'].json.amount_ml) || 0;\nconst totalData = $json;\n\n// Преобразуем строки в числа\nconst totalMl = parseFloat(totalData.total_ml) || 0;\nconst totalLiters = totalMl / 1000;\nconst target = 2.5; // можно брать из профиля пользователя\n\nconst pct = Math.round((totalLiters / target) * 100);\n\nreturn [{\n  json: {\n    success: true,\n    added_ml: addedMl,\n    total_ml: totalMl,\n    total_liters: parseFloat(totalLiters.toFixed(2)),\n    target_liters: target,\n    percent: pct,\n    state: pct >= 100 ? 'good' : pct >= 50 ? 'partial' : 'deficit',\n    ai_message: pct >= 100 \n      ? '💧 Цель по воде выполнена! Отличная работа!' \n      : `💧 Выпито ${totalLiters.toFixed(1)}л из ${target}л. Осталось ${(target - totalLiters).toFixed(1)}л.`\n  }\n}];"
      },
      "id": "09b4e882-8386-4ed3-9a68-0e486fd35e8d",
      "name": "RespondWater",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6368,
        2880
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nreturn [{\n  json: {\n    userId: body.userId,\n    date: body.date || new Date().toISOString().split('T')[0],\n    amount_ml: parseInt(body.amount_ml) || 250,\n    amount_liters: (parseInt(body.amount_ml) || 250) / 1000,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "9d0afa25-0e08-40ba-beef-4f1557a9ba9f",
      "name": "PrepareWaterData",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5424,
        2880
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "e1b574da-18d0-4641-a411-17c5f37bcafc",
      "name": "RespondSleep",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6736,
        2720
      ]
    },
    {
      "parameters": {
        "functionCode": "const sleepData = $json;\n\n// Calculate Neuro-Collider adjustments based on sleep\nconst cns = sleepData.cns_recovery_score || 50;\nlet workoutIntensityAdjust = 'none';\nlet nutritionAdjust = {};\nlet message = '';\n\nif (cns < 40) {\n  workoutIntensityAdjust = 'reduce_high';\n  nutritionAdjust = {extra_carbs_pct: 20, extra_protein_g: 15};\n  message = 'Мало сна — ЦНС не восстановлена. Тренировка облегчена, питание скорректировано.';\n} else if (cns < 65) {\n  workoutIntensityAdjust = 'reduce_medium';\n  nutritionAdjust = {extra_carbs_pct: 10};\n  message = 'Сон немного ниже нормы. Лёгкая адаптация тренировки.';\n} else {\n  message = 'Отличный сон! ЦНС полностью восстановлена.';\n}\n\nreturn [{\n  json: {\n    success: true,\n    userId: sleepData.userId,\n    sleep_logged: true,\n    cns_score: cns,\n    state: sleepData.state,\n    neuro_adjustments: {\n      workout_intensity_adjust: workoutIntensityAdjust,\n      nutrition_adjust: nutritionAdjust\n    },\n    ai_message: message\n  }\n}];"
      },
      "id": "7b0c2a45-42e4-4d34-9642-1d581ef023f4",
      "name": "TriggerNeuroAfterSleep",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6400,
        2720
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nconst actualHours = parseFloat(body.actual_hours) || 0;\nconst targetHours = parseFloat(body.target_hours) || 8;\nconst qualityScore = parseFloat(body.quality_score) || 0.7;\n\nlet state = 'good';\nif (actualHours < targetHours * 0.75) state = 'deficit';\nelse if (actualHours < targetHours) state = 'partial';\n\n// Calculate CNS recovery score\nconst cnsScore = Math.min(100, Math.round((actualHours / targetHours) * qualityScore * 100));\n\nreturn [{\n  json: {\n    userId: body.userId,\n    date: body.date || new Date().toISOString().split('T')[0],\n    actual_hours: actualHours,\n    target_hours: targetHours,\n    quality_score: qualityScore,\n    bedtime: body.bedtime,\n    wake_time: body.wake_time,\n    state: state,\n    cns_recovery_score: cnsScore\n  }\n}];"
      },
      "id": "49a09977-277d-4333-9006-3a97b88c0784",
      "name": "PrepareSleepData",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5424,
        2720
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "33b9bd9c-9bf0-4dfc-8e1c-1f4d98cba96b",
      "name": "RespondStats",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6672,
        2368
      ]
    },
    {
      "parameters": {
        "functionCode": "const allData = $input.all();\n\nconst nutrition = allData.find(i => i.json.total_calories !== undefined)?.json || {};\nconst sleep     = allData.find(i => i.json.avg_hours !== undefined)?.json || {};\nconst workouts  = allData.find(i => i.json.total_workouts !== undefined)?.json || {};\n\nconst period = nutrition.period || sleep.period || workouts.period || 'month';\nconst date   = nutrition.req_date || sleep.req_date || workouts.req_date ||\n               new Date().toISOString().split('T')[0];\n\nconst toNum = (val) => parseFloat(val) || 0;\n\nreturn [{\n  json: {\n    success: true,\n    period: period,\n    date: date,\n    nutrition: {\n      total_calories:        toNum(nutrition.total_calories),\n      avg_calories_per_meal: Math.round(toNum(nutrition.avg_calories_per_meal)),\n      total_meals:           toNum(nutrition.total_meals)\n    },\n    water: {\n      total_liters: parseFloat((toNum(nutrition.total_water_ml) / 1000).toFixed(2)),\n      avg_liters:   parseFloat((toNum(nutrition.avg_water_ml)   / 1000).toFixed(2)),\n      total_logs:   toNum(nutrition.total_water_logs)\n    },\n    sleep: {\n      total_logs:  toNum(sleep.total_logs),\n      avg_hours:   parseFloat(toNum(sleep.avg_hours).toFixed(1)),\n      total_hours: parseFloat(toNum(sleep.total_hours).toFixed(1))\n    },\n    workouts: {\n      total:         toNum(workouts.total_workouts),\n      completed:     toNum(workouts.completed_workouts),\n      avg_duration:  Math.round(toNum(workouts.avg_duration)),\n      total_minutes: toNum(workouts.total_minutes)\n    }\n  }\n}];\n"
      },
      "id": "fbf0a6ce-ee8b-40be-ab70-464105c564e2",
      "name": "BuildStatsResponse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6448,
        2368
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || $json;\n\nreturn [{\n  json: {\n    email: body.email || 'user1@fitflow.local',\n    period: body.period || 'month',\n    date: body.date || new Date().toISOString().split('T')[0]\n  }\n}];\n"
      },
      "id": "07ce3ffa-51a3-4070-8c63-549e8a6dea38",
      "name": "PrepareStatsUser",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5632,
        2368
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e227a43c-c746-4954-8a37-323acb4eba44",
      "name": "RespondChat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        8032,
        2160
      ]
    },
    {
      "parameters": {
        "functionCode": "const aiResponse = $json.choices[0].message.content;\nconst userId = $node['PrepareGroqChat'].json.userId;\n\n// Check if response contains action cards (deeplinks)\nconst hasActions = aiResponse.includes('[ПРИМЕНИТЬ]') || aiResponse.includes('[APPLY]');\n\nreturn [{\n  json: {\n    userId: userId,\n    aiResponse: aiResponse,\n    hasActions: hasActions,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "5c9bff1c-e960-4ed2-a330-87f948a9452f",
      "name": "ExtractChatResponse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        7472,
        2160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.groqRequest)}}",
        "options": {}
      },
      "id": "b157ed4a-bc7a-47a4-8e70-37be191b4547",
      "name": "CallGroqChat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7232,
        2160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "vwbQxpLjAJGbO7k3",
          "name": "Bearer Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nreturn [{\n  json: {\n    userId: body.userId,\n    message: body.message,\n    date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "805a33c7-4d15-40da-9b87-15bbd762b267",
      "name": "PrepareChatContext",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5648,
        2176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "877be6fe-99b8-4a72-8494-78716f269b18",
      "name": "RespondGeneratedWebhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6848,
        1968
      ]
    },
    {
      "parameters": {
        "functionCode": "// 1. Получаем текстовый ответ (YAML) от ИИ\nconst response = $json.choices[0].message.content;\n\n// 2. Получаем user_id из узла, который был ДО запроса к нейросети.\n// ВНИМАНИЕ: Замените 'PrepareGroqWorkout' на точное имя вашего узла, \n// в котором вы собирали промпт для ИИ!\nconst userId = $('PrepareGroqWorkout').first().json.user_id;\n\n// 3. Функция для вытаскивания значений из YAML-текста с помощью регулярных выражений\nfunction extractYamlValue(text, key, isNumber = false) {\n  const regex = new RegExp(`^${key}:\\\\s*\"?([^\"\\\\n]+)\"?`, 'm');\n  const match = text.match(regex);\n  if (match && match[1]) {\n    return isNumber ? parseFloat(match[1]) || 0 : match[1].trim();\n  }\n  return isNumber ? 0 : \"\";\n}\n\n// 4. Очищаем ответ от случайных Markdown-блоков (на всякий случай)\nconst cleanedYaml = response.replace(/```yaml\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// 5. Парсим нужные поля из YAML-строки\nconst mealName = extractYamlValue(cleanedYaml, 'meal_name', false);\nconst totalCalories = extractYamlValue(cleanedYaml, 'total_calories', true);\nconst proteinG = extractYamlValue(cleanedYaml, 'protein_g', true);\nconst fatG = extractYamlValue(cleanedYaml, 'fat_g', true);\nconst carbsG = extractYamlValue(cleanedYaml, 'carbs_g', true);\nconst aiMessage = extractYamlValue(cleanedYaml, 'ai_message', false);\n\n// 6. Отдаем готовый JSON-объект для записи в базу данных\nreturn {\n  json: {\n    user_id: userId,\n    meal_name: mealName || \"Неизвестный прием пищи\",\n    calories: totalCalories,\n    protein_g: proteinG,\n    fat_g: fatG,\n    carbs_g: carbsG,\n    ai_message: aiMessage || \"Данные записаны.\",\n    log_date: new Date().toISOString().split('T')[0],\n    raw_yaml: cleanedYaml // оставляем оригинал на всякий случай\n  }\n};\n"
      },
      "id": "a99e6321-7a04-4032-8b87-d4e73d64cc09",
      "name": "ExtractWorkout",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6416,
        1968
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.groqRequest)}}",
        "options": {}
      },
      "id": "77f427bc-f8fe-48aa-a553-4aa917eb8efa",
      "name": "CallGroqWorkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6208,
        1968
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "vwbQxpLjAJGbO7k3",
          "name": "Bearer Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const user = $json; \nconst foodData = $('Code in JavaScript1').first().json; \n\nconst groqRequest = {\n  model: \"openrouter/free\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"Ты профессиональный диетолог FitFlow. Твоя задача — анализировать текст о съеденной еде и рассчитывать калории, белки, жиры и углеводы. Отвечай СТРОГО в формате YAML без блоков Markdown (без ```yaml). Никакого лишнего текста.\"\n    },\n    {\n      role: \"user\",\n      content: `Проанализируй этот прием пищи:\n\"${foodData.food_text}\"\n\nРассчитай примерное КБЖУ для всей порции. \n\nОБЯЗАТЕЛЬНО верни ответ в формате YAML по следующему шаблону (цифры подставь свои):\n\nmeal_name: \"Бургер и кола\"\ntotal_calories: 850\nprotein_g: 35\nfat_g: 40\ncarbs_g: 80\nai_message: \"Довольно тяжелый прием пищи. В следующий раз попробуй заменить колу на воду, чтобы снизить количество быстрых углеводов.\"`\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1000\n};\n\nreturn { \n  json: { \n    user_id: foodData.user_id,\n    groqRequest: groqRequest \n  } \n};\n"
      },
      "id": "5a9ddfd2-0d87-4015-a457-faded0f24e84",
      "name": "PrepareGroqWorkout",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6016,
        1968
      ]
    },
    {
      "parameters": {
        "functionCode": "const user        = $input.first().json;\nconst groqResponse = $input.last().json;\n\nconst aiWorkout = groqResponse.choices?.[0]?.message?.content || \"Тренировка не сгенерирована\";\n\nconst parseField = (val) => {\n  if (!val) return [];\n  if (Array.isArray(val)) return val;\n  try { return JSON.parse(val); } catch { return []; }\n};\n\nreturn [{\n  json: {\n    success: true,\n    user: {\n      name:       user.name,\n      goal:       user.goal,\n      experience: user.experience,\n      weight:     user.weight,\n      height:     user.height,\n      equipment:  parseField(user.equipment),\n      injuries:   parseField(user.injuries),\n    },\n    workout: {\n      ai_generated: true,\n      content: aiWorkout\n    }\n  }\n}];\n"
      },
      "id": "9bf54cc5-38b6-40ff-abb5-a0d42a64724a",
      "name": "BuildMainResponse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6544,
        1776
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || $json;\nreturn [{\n  json: {\n    email: body.email,\n    date:  body.date || new Date().toISOString().split('T')[0]\n  }\n}];\n"
      },
      "id": "37370a68-9d86-4777-a52c-8cee5a79d0c2",
      "name": "PrepareMainUser",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5408,
        1776
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"User registered successfully\",\n  \"userId\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "id": "5f3ec8e1-b501-40df-b233-954951cc5dd2",
      "name": "RespondUserCreated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5072,
        1168
      ]
    },
    {
      "parameters": {
        "functionCode": "const u = $json;\nreturn [{\n  json: {\n    email: u.email,\n    name: u.name,\n    password: u.password,\n    goal: u.goal,\n    age: u.age,\n    weight_kg: u.weight,\n    height_cm: u.height,\n    body_fat_pct: u.body_fat,\n    body_type: u.body_type,\n    experience: u.experience,\n    equipment: JSON.stringify(u.equipment),\n    target_weight_kg: u.target_weight,\n    target_body_fat_pct: u.target_body_fat,\n    training_location: u.training_location,\n    sleep_target_hours: u.sleep_target_hours,\n    water_target_liters: u.water_target_liters,\n    diet_restrictions: JSON.stringify(u.diet_restrictions),\n    injuries: JSON.stringify(u.injuries),\n    priority_zones: JSON.stringify(u.priority_zones),\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "9aba5a92-819a-47cb-9325-ab4ac4000bd7",
      "name": "PrepareInsertUser",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        4672,
        1168
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $input.item.json.body || $input.item.json;\nreturn [{\n  json: {\n    email: body.email,\n    name: body.name,\n    password: body.password,\n    goal: body.goal || 'general_fitness',\n    age: body.age,\n    weight: body.weight,\n    height: body.height,\n    body_fat: body.body_fat,\n    body_type: body.body_type || 'mesomorph',\n    experience: body.experience || 'beginner',\n    equipment: body.equipment || ['собственный вес'],\n    target_weight: body.target_weight,\n    target_body_fat: body.target_body_fat,\n    training_location: body.training_location || 'gym',\n    sleep_target_hours: body.sleep_target_hours || 8,\n    water_target_liters: body.water_target_liters || 2.5,\n    diet_restrictions: body.diet_restrictions || [],\n    injuries: body.injuries || [],\n    priority_zones: body.priority_zones || []\n  }\n}];"
      },
      "id": "53e152bc-c779-472c-a08d-cd5511e28e06",
      "name": "PrepareUserData",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        4272,
        1168
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "133cbff2-db78-4608-9e72-bb8820b0afff",
      "name": "SetInput",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        4048,
        1168
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fitflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1c74a53-64bd-46ed-9327-f52a419db2bf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        3856,
        1168
      ],
      "webhookId": "44691581-1862-4aa4-9faf-f78377c9790f"
    },
    {
      "parameters": {
        "content": "регистрация(онбординг)\n",
        "height": 464,
        "width": 2128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3792,
        1040
      ],
      "typeVersion": 1,
      "id": "a86cee78-76e5-49b3-b40e-9b01282e95dc",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookPhoto": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatUpdatedProfile": {
      "main": [
        [
          {
            "node": "RespondProfilePost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateUserInDB": {
      "main": [
        [
          {
            "node": "FormatUpdatedProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseBody": {
      "main": [
        [
          {
            "node": "UpdateUserInDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookProfilePost": {
      "main": [
        [
          {
            "node": "ParseBody",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatProfile": {
      "main": [
        [
          {
            "node": "RespondProfileGet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUserFromDB ": {
      "main": [
        [
          {
            "node": "FormatProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "GetUserFromDB ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookProfileGet": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractChatData": {
      "main": [
        [
          {
            "node": "GetUserContext",
            "type": "main",
            "index": 0
          },
          {
            "node": "InsertUserMessage",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetChatHistory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookNarution": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TOON": {
      "main": [
        [
          {
            "node": "PrepareGroqRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookAdapt": {
      "main": [
        [
          {
            "node": "PrepareAdaptContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookChat": {
      "main": [
        [
          {
            "node": "PrepareChatContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookMainRequest": {
      "main": [
        [
          {
            "node": "PrepareMainUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TOON2": {
      "main": [
        [
          {
            "node": "PrepareGroqAdapt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareUpdateData": {
      "main": [
        [
          {
            "node": "UpdateWorkoutAdapted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractAdaptData": {
      "main": [
        [
          {
            "node": "GetCurrentWorkoutForAdapt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCurrentWorkoutForAdapt": {
      "main": [
        [
          {
            "node": "TOON2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookActivity": {
      "main": [
        [
          {
            "node": "PrepareActivityData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertActivity": {
      "main": [
        [
          {
            "node": "FormatActivityResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookWater": {
      "main": [
        [
          {
            "node": "PrepareWaterData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "GetTotalWaterToday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertWater": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookSleep": {
      "main": [
        [
          {
            "node": "PrepareSleepData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookStat": {
      "main": [
        [
          {
            "node": "PrepareStatsUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareGroqChat": {
      "main": [
        [
          {
            "node": "CallGroqChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertAIMessage": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUserContext": {
      "main": [
        [
          {
            "node": "PrepareGroqChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertUserMessage": {
      "main": [
        [
          {
            "node": "PrepareGroqChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetChatHistory": {
      "main": [
        [
          {
            "node": "PrepareGroqChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "GetUserProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUserProfile": {
      "main": [
        [
          {
            "node": "TOON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TOON1": {
      "main": [
        [
          {
            "node": "PrepareGroqWorkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareGroqRequest": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "BuildMainResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "TOON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "PrepareInsertUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateWorkoutAdapted": {
      "main": [
        [
          {
            "node": "RespondAdapt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractAdaptWorkout": {
      "main": [
        [
          {
            "node": "PrepareUpdateData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CallGroqAdapt": {
      "main": [
        [
          {
            "node": "ExtractAdaptWorkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareGroqAdapt": {
      "main": [
        [
          {
            "node": "CallGroqAdapt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareAdaptContext": {
      "main": [
        [
          {
            "node": "ExtractAdaptData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatActivityResponse": {
      "main": [
        [
          {
            "node": "RespondActivity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareActivityData": {
      "main": [
        [
          {
            "node": "InsertActivity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTotalWaterToday": {
      "main": [
        [
          {
            "node": "RespondWater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RespondWater": {
      "main": [
        [
          {
            "node": "RespondWaterWebhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareWaterData": {
      "main": [
        [
          {
            "node": "InsertWater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertSleep1": {
      "main": [
        [
          {
            "node": "TriggerNeuroAfterSleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TriggerNeuroAfterSleep": {
      "main": [
        [
          {
            "node": "RespondSleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareSleepData": {
      "main": [
        [
          {
            "node": "InsertSleep1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetNutritionAndWater ": {
      "main": [
        [
          {
            "node": "BuildStatsResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSleepStats": {
      "main": [
        [
          {
            "node": "BuildStatsResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CountWorkouts": {
      "main": [
        [
          {
            "node": "BuildStatsResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildStatsResponse": {
      "main": [
        [
          {
            "node": "RespondStats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareStatsUser": {
      "main": [
        [
          {
            "node": "GetSleepStats",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetNutritionAndWater ",
            "type": "main",
            "index": 0
          },
          {
            "node": "CountWorkouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "RespondChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractChatResponse": {
      "main": [
        [
          {
            "node": "InsertAIMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CallGroqChat": {
      "main": [
        [
          {
            "node": "ExtractChatResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareChatContext": {
      "main": [
        [
          {
            "node": "ExtractChatData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertWorkout ": {
      "main": [
        [
          {
            "node": "RespondGeneratedWebhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractWorkout": {
      "main": [
        [
          {
            "node": "InsertWorkout ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CallGroqWorkout": {
      "main": [
        [
          {
            "node": "ExtractWorkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareGroqWorkout": {
      "main": [
        [
          {
            "node": "CallGroqWorkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildMainResponse": {
      "main": [
        [
          {
            "node": "RespondMainData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareMainUser": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "RespondUserCreated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareInsertUser": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareUserData": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetInput": {
      "main": [
        [
          {
            "node": "PrepareUserData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "SetInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4dcef8a7-83e7-4e86-9252-13bbe6274380",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e22160db42fee50d35fc53aa65d05ba41a185cf5577f9418f22d6532d0002a85"
  },
  "id": "ujJEimkuOWfRAIBI",
  "tags": []
}